{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="well">
        <h1>{{ _('Your subscriptions') }}</h1>
        <p>{{ _('You are subscribed to') }} {{ nb_feeds }} <a href="/feeds">{{ _('feeds') }}</a>. {{ _('Add a') }} <a href="{{ url_for("feed.form") }}">{{ _('feed') }}</a>.</p>
        <p>{{ nb_articles }} {{ _('articles are stored in the database with') }} {{ nb_unread_articles }} {{ _('unread articles') }}.</p>
        <a href="/expire_articles?weeks=10" class="btn btn-default" onclick="return confirm('{{ _('You are going to delete old articles.') }}');">{{ _('Delete articles older than 10 weeks') }}</a>
    </div>
    <div class="well">
        <h1 id="import">{{ _('OPML import/export') }}</h1>
        <form action="" method="post" id="formImportOPML" enctype="multipart/form-data">
            <span class="btn btn-default btn-file">{{ _('Batch import feeds from OPML') }} (<span class="text-info">*.xml {{ _('or') }} *.opml</span>)<input type="file" name="opmlfile" /></span>
            <button class="btn btn-default" type="submit">OK</button>
        </form>
        <br />
        <a href="/export_opml" class="btn btn-default">{{ _('Export feeds to OPML') }}</a>
        <h1>{{ _('Data liberation') }}</h1>
        <form action="" method="post" id="formImportJSON" enctype="multipart/form-data">
            <span class="btn btn-default btn-file">{{ _('Import account') }} (<span class="text-info">*.json</span>)<input type="file" name="jsonfile" /></span>
            <button class="btn btn-default" type="submit">OK</button>
        </form>
        <br />
        <a href="/export?format=JSON" class="btn btn-default">{{ _('Export account to JSON') }}</a>
    </div>
    <div class="well">
        <h1>{{ _('Export articles') }}</h1>
        <a href="/export?format=HTML" class="btn btn-default">HTML</a>
    </div>
</div><!-- /.container -->
{% endblock %}
